body {
    background-color: #171D1C;
    align-items: center;
    font-family: montserrat;
    margin: 0;
}

.top {
    padding: 20px 0;
    font-family: luna;
    text-align: center;
    color: #F4B400;
    background-color: #171D1C;
    height: 50px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 600;
}

#main_heading {
    text-align: center;
    background-color: #F4B400;
    color: #171D1C;
    margin: 0 0;
}

#sub_heading {
    text-align: center;
    background-color: white;
    height: 34px;
}

#message {
    display: inline-block;
    width: 25%;
    font-family: luna;
    font-size: 15px;
    letter-spacing: 2px;
    color: #171D1C;
}

#rgbdisplay {
    text-transform: uppercase;
    color: white;
    font-size: 200%;
}

#container {
    max-width: 500px;
    margin: 20px auto;
}

.box {
    width: 30%;
    padding-bottom: 30%;
    background: rgb(197, 154, 98);
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background 0.5s;
}

h1 {
    color: #171D1C;
    margin: 0 auto;
    padding: 30px 0;
    line-height: 1.7em;
    font-weight: normal;
}

button {
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: montserrat;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}

.selected {
    background-color: #F4B400;
    color: white;
}

.newcolor,
.default {
    background-color: white;
    color: #F4B400;
}

button:hover {
    background-color: #F4B400;
    color: white;
    transition-duration: 0.4s
}